{% extends '../base.html' %}
{% block main %}
<div class="container p-4">
    <div class="row ">
        <h1 class="pb-4">Acerca de nosotros</h1>
        <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque maxime aliquam cupiditate inventore, ut numquam. Ad iusto dolorum animi sit. Accusantium nulla dicta cumque nesciunt nostrum quaerat, delectus iusto culpa?</p>
        <p class="pb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque amet consequuntur tempore labore qui sapiente necessitatibus in, voluptatibus ut non cupiditate ratione reiciendis ullam animi aliquid autem doloremque placeat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum, quis illo magnam officia similique nulla est sapiente pariatur maiores architecto, nisi iste tenetur neque sed adipisci! Reiciendis, sed dolor!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque minima impedit expedita sequi enim suscipit quis officiis sunt, iure accusantium. Consequatur assumenda, libero doloribus eligendi beatae quia fugiat perspiciatis.</p>
    </div>
</div>
{% endblock %}