{% block footer %}

<footer id="footer" class="pb-4 pt-4 mt-5" style="height:90px;">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                Jaguarete Kaa S.A
            </div>
            <div class="col-12 col-lg">
                <i class="far fa-copyright"></i>
                Todos los derechos reservados
            </div>
            <div class="col-12 col-lg">
                Desarrollado por Andres Guerrero
            </div>
        </div>
    </div>

</footer>

{% endblock %}